<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
    <title>Interface</title>
    <style>
        body{
            background-color: lightcyan;
        }
    </style>
</head>
<body>
    <div class="containter">
        <form action="{% url 'startPersonalAssistant' %}" method="get">
            <button type="submit">Turn on Personal Assistant</button>
        </form>

        <h3 id="message">The Assistant is Offline</h3>
        <h3 id="whatISaid"> {{ whatISaid }} </h3>
    </div>
    <div class="spotify-container">
        <div class="login-status">
            <form action="{% url 'requestSpotifyAuthorization' %}" method="get">
                <button type="submit">Auth, Spotify</button>
            </form>
            <div class="status-spotify">
                {% if request.GET.code or code %}
                    <p>Auth: Status <span style="color: green;"> Ok </span></p>
                {% else %}
                    <p>Auth: Status <span style="color: lightcoral;">Fail!</span></p>
                {% endif %}
                {% if request.GET.access_token or access_token %}
                    <p>Token: Status <span style="color: green;"> Ok </span></p>
                {% else %}
                    <p>Token: Status <span style="color: lightcoral;">Fail!</span></p>
                {% endif %}
            </div>
        </div>
        <h3 id="resultTag">Play</h3>
        <div class="spotify-player">
            <button id="previous-button">Previous</button>
            <button id="PauseAndPlay-button">Play/Pause</button>
            <button id="next-button">Next</button>
        </div>
    </div>
    <script src="../static/js/event_handler.js"></script>
    <script>
        const personalAssistantStatus = JSON.parse("{{ personalAssistantStatus|lower }}");

        function updateContent() {
            fetch('{% url "updateOnInterface" %}')
                .then(response => response.json())
                .then(data => {
                    // Update the content on the web page
                    document.getElementById('message').innerText = data.message;
                    document.getElementById('whatISaid').innerText = `What I said: ${data.whatISaid}`;
                });
        }
    
        // Check if the Personal Assistant is active before updating content
        if (personalAssistantStatus) {
            // Update the content every 3 seconds (adjust as needed)
            setInterval(updateContent, 2000);
        }
    </script>
</body>
</html>